@model IEnumerable<IronMongeryTools.Models.Administrador>

@{
    ViewData["Title"] = "Administradores";
}

<h2>Todos los administradores</h2>

<p>
    <a asp-action="Create" class="btn btn-primary">Crear</a>
</p>
<div class="content-wrapper">
    <table class="table-custom" style="min-width: 1297px;">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.AdministradorID)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Nombre)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.FechaNacimiento)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Correo)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td style="text-align: center;">
                        @Html.DisplayFor(modelItem => item.AdministradorID)
                    </td>
                    <td style="text-align: center;">
                        @Html.DisplayFor(modelItem => item.Nombre)
                    </td>
                    <td style="text-align: center;">
                        @Html.DisplayFor(modelItem => item.FechaNacimiento)
                    </td>
                    <td style="text-align: center;">
                        @Html.DisplayFor(modelItem => item.Correo)
                    </td>
                    <td>
                        
                        <a asp-action="Edit" asp-route-id="@item.AdministradorID" class="btn btn-custom-edit">Editar</a> |
                        <a asp-action="Details" asp-route-id="@item.AdministradorID"
                            class="btn btn-custom-details">Detalles</a> |
                        <a asp-action="Delete" asp-route-id="@item.AdministradorID"
                            class="btn btn-custom-delete">Eliminar</a>
                    </td>



                </tr>
            }
        </tbody>
    </table>
</div>

<footer class="footer">
    <p>Total de registros: @ViewData["TotalAdministradores"]</p>
</footer>
